*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Popins, sans-serif;
}
.img{
    margin:10px;
    height:auto;
    width:120px;
}

button{
    width:45px;
    height:30px;
    font-size: 13px;
    color:#3A3845;
    transition:.3s;
    border: none;

}

button:hover{
    background-color:grey;
}

.background .deleteTable form h2{
    color:#AF8167;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
    margin-left:110px;
}


.deleteTable form p{
    font-family: Popins,sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top:20px;

    color: #AF8167;
    font-weight: 200;
    margin-left:25px;
}




.deleteTable .buttonBx {
    margin-top: 20px;
}

.deleteTable form .btnClose{
    border:none;
    width:150px;
    height:50px;
    text-align:center;
    background:#97BFB4;
    color:whitesmoke;
    font-size:12px ;
    display: inline-block;
    margin-right:20px;
}

.deleteTable form .btnSave{
    border:none;
    width:150px;
    height:50px;
    text-align:center;
    background:#AF8167;
    color:whitesmoke;
    font-size:12px ;
    display: inline-block;
}

.deleteTable .btnClose:hover{
    background-color: #F7CCAC;
    opacity:0.7;
}

.deleteTable form .btnSave:hover{
    background-color: #F7CCAC;
    opacity:0.7;
}




.background .deleteTable{
    position:absolute;
    top:100px;
    left:400px;
    z-index:100;
    width:655px;
    height:300px;
    box-shadow: 0 30px 30px 0 rgba(0,0,0,0.9);

}
form{
    width:655px;
    height:300px;
    padding: 5px;
    background: linear-gradient(to left, #ff9a9e, #fad0c4);
    opacity: 0.7;
    padding-top:20px;

}


.background{
    position:relative;
    height: 100vh;
    width:100%;
    background-image:url("../images/insert-update-delete/delete.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;

}

.logo-and-brand{
    top:15px;
    left:5px;
    padding-top:10px;
}

.logo-and-brand{
    line-height:60px;

}

.brand-logo{

    height: 40px;
    padding: 2px;

}

.brand-text{
    display: inline-block;
    font-family: Kaushan Script;
    font-size: 30px;
    letter-spacing: 1px;
    justify-content: center;
    padding-bottom: 10px;
    color:#AF8167;
}
span{
    margin-left:25px;
}

.background .buttonBx{
    margin-left:150px;
}


